@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@config "../tailwind.config.ts";

*{
  font-family: 'Outfit', sans-serif;
}

::-webkit-scrollbar{
  @apply hidden;
}