@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@config "../tailwind.config.ts";

*{
  font-family: 'Outfit', sans-serif;
}

.active hr {
  @apply block;
}

::-webkit-scrollbar {
  @apply hidden;
}

@media (max-width:740px) {
  .active p{
    @apply text-white bg-primary
  }
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn .25s ease-out;
  }

  @keyframes fadeIn {
    from { opacity: 0; transform: scale(.96); }
    to { opacity: 1; transform: scale(1); }
  }
}